@font-face {
  font-family: 'inter-extrabold'; /* Change to your font's name. */
  src: url('font/Inter-ExtraBold.ttf'); /* Change to match your font file's location. */
}
@font-face {
  font-family: 'inter-bold'; /* Change to your font's name. */
  src: url('font/Inter-Bold.ttf'); /* Change to match your font file's location. */
}
@font-face {
  font-family: 'inter-semibold'; /* Change to your font's name. */
  src: url('font/Inter-SemiBold.ttf'); /* Change to match your font file's location. */
}
@font-face {
  font-family: 'inter-medium'; /* Change to your font's name. */
  src: url('font/Inter-Medium.ttf'); /* Change to match your font file's location. */
}

#main-nav {
  background-color: #591fce;
}

.navbar-nav a {
  font-family: 'inter-bold';
  color: white;
  margin-right: 45px;
  font-size: 16px;
}

.navbar-nav a:hover {
  color: black;
}

#logo-navbar {
  width: 150px;
  height: 49.44px;
  margin-left: 48px;
}

#logo-navbar:hover {
  opacity: 70%;
}

.navbar {
  height: 70px;
}

h1 {
  font-family: inter-extrabold;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  text-align: start;
  padding-top: 1rem;
}

h2 {
  font-family: inter-extrabold;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  text-align: justify;
  padding-top: 1rem;
}

#judul {
  margin-left: 105px;
  margin-top: 43px;
}

#isi p {
  font-family: 'inter-medium';
  font-size: 20px;
  text-align: justify;
  padding-top: 1rem;
}

.rekomendasi h1 {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 40px;
}

.section4 {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

.section4 a {
  color: black;
  font-size: 32px;
  font-family: 'inter-extrabold';
  text-align: justify;
  text-decoration: none;
}
.section4 a:hover {
  color: blue;
}

footer {
  background-color: #a1f480;
}

#logo-bawah {
  width: 380px;
  margin-top: 29px;
}

.footer-nav a {
  font-family: 'inter-bold';
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #444444;
}

.footer-nav li {
  margin-top: 15px;
}

.garis {
  height: 155px;
  border: 2.5px solid #ffffff;
}

.attrib p {
  font-family: 'inter-bold';
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.attrib li {
  margin-top: 15px;
}
.attrib a {
  font-family: 'inter-bold';
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.attrib a:hover {
  color: #444444;
}

@media (min-width: 992px) {
  h1 {
    font-family: inter-extrabold;
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    text-align: justify;
    padding-top: 1rem;
  }

  h2 {
    font-family: inter-extrabold;
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    text-align: justify;
    padding-top: 1rem;
  }
  .rekomendasi h1 {
    margin-top: 0px;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 990px) {
  .garis {
    display: none;
  }
}
