@font-face {
  font-family: 'inter-extrabold'; /* Change to your font's name. */
  src: url('font/Inter-ExtraBold.ttf'); /* Change to match your font file's location. */
}
@font-face {
  font-family: 'inter-bold'; /* Change to your font's name. */
  src: url('font/Inter-Bold.ttf'); /* Change to match your font file's location. */
}
@font-face {
  font-family: 'inter-semibold'; /* Change to your font's name. */
  src: url('font/Inter-SemiBold.ttf'); /* Change to match your font file's location. */
}
@font-face {
  font-family: 'inter-medium'; /* Change to your font's name. */
  src: url('font/Inter-Medium.ttf'); /* Change to match your font file's location. */
}
@font-face {
  font-family: 'inter-reguler'; /* Change to your font's name. */
  src: url('font/Inter-VariableFont_slnt\,wght.ttf'); /* Change to match your font file's location. */
}
@font-face {
  font-family: 'arial-bold'; /* Change to your font's name. */
  src: url('font/arial-bold.ttf'); /* Change to match your font file's location. */
}

body {
  height: 2000px;
  background-color: #f6f8fb;
}

#main-nav {
  background-color: #591fce;
}

.navbar-nav a {
  font-family: 'inter-bold';
  color: white;
  margin-right: 45px;
  font-size: 16px;
}

.navbar-nav a:hover {
  color: black;
}

#logo-navbar {
  width: 150px;
  height: 49.44px;
  margin-left: 48px;
}

#logo-navbar:hover {
  opacity: 70%;
}

.navbar {
  height: 70px;
}

h1 {
  font-family: 'inter-extrabold';
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
}

#judul {
  margin-left: 105px;
  margin-top: 43px;
}

.btn-active {
  width: 143px;
  height: 68px;
  background-color: #591fce;
  border: 1px solid #e2e2e8;
  border-radius: 9.09977px;
}

.btn-active:hover {
  width: 143px;
  height: 68px;
  background-color: #f6f8fb;
  border: 1px solid #e2e2e8;
  border-radius: 9.09977px;
  color: #4c4c66;
}

button a {
  font-family: 'arial-bold';
  font-size: 32px;
  margin-top: 5px;
  text-decoration: none;
}

.active a {
  color: white;
}
.active a:hover {
  color: #4c4c66;
}

.btn-not-active {
  width: 143px;
  height: 68px;
  background-color: #f6f8fb;
  border: 1px solid #e2e2e8;
  border-radius: 9.09977px;
}

.btn-not-active:hover {
  width: 143px;
  height: 68px;
  background-color: #591fce;
  border: 1px solid #e2e2e8;
  border-radius: 9.09977px;
}

.not-active a {
  color: #4c4c66;
}

.not-active a:hover {
  color: white;
}

.carousel-control-prev {
  margin-left: 0px;
}

#dashboard {
  background-color: #591fce;
  width: 1384px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.card-title {
  font-family: 'inter-extrabold';
  font-style: normal;
  font-size: 32px;
}

.card-link {
  color: rgba(76, 76, 102, 0.5);
  text-decoration: none;
}

.card-body p {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'inter-reguler';
  font-size: 16px;
  padding-top: 0.5rem;
}

.update {
  color: rgba(0, 0, 0, 0.6);
  font-family: 'inter-reguler';
  font-size: 16px;
  margin-left: 1rem;
}

.table {
  display: flex;
  justify-content: center;
  align-items: center;
}

#plot {
  padding-top: 10px;
}
.pie {
  width: 418px;
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
}
.card {
  height: 480px;
  filter: drop-shadow(5px 12px 12px rgba(16, 30, 115, 0.75));
}

.card-subtitle {
  font-family: 'inter-extrabold';
  font-style: normal;
  font-size: 24px;
  text-align: center;
}

footer {
  background-color: #a1f480;
}

#logo-bawah {
  width: 380px;
  margin-top: 29px;
}

.footer-nav a {
  font-family: 'inter-bold';
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.footer-nav a:hover {
  color: #444444;
}

.footer-nav li {
  margin-top: 15px;
}

.garis {
  height: 155px;
  border: 2.5px solid #ffffff;
}

.attrib p {
  font-family: 'inter-bold';
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.attrib li {
  margin-top: 15px;
}
.attrib a {
  font-family: 'inter-bold';
  color: white;
  font-size: 20px;
  text-decoration: none;
}
.attrib a:hover {
  color: #444444;
}
