<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrah2 cSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- My CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/style_isiblog.css') }}"
    />
    <title>Alasan Elon Musk Mendukung Miliki Dogecoin</title>
    <link rel="icon" href="/static/images/Logo no tulisan.png" type="image/x-icon" />
    <script src="https://kit.fontawesome.com/c914a9e0c3.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg fixed-top" id="main-nav">
      <div class="container-fluid" style="background-color: #591fce">
        <a class="navbar-brand" href="/" id="logo-navbar">
          <img src="/static/images/Elevate Logo tulisan putih.png" width="150px"
        /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
          style="border: 1px solid #fff"
        >
          <span>
            <i class="fas fa-bars" style="color: #fff"></i>
          </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/tentangkami/">Tentang Kami</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/">Dashboard</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!--End Navbar-->

    <!-- Section 1 -->
    <section id="heading" style="margin-top: 5rem">
      <div class="container">
        <h2>International</h2>
        <h1>Alasan Elon Musk Mendukung Miliki Dogecoin</h1>
        <div class="container" style="margin-top: 2rem">
          <div class="row text-center">
            <div class="col-md">
              <img src="/static/images/kontenberita5.png" alt="section1" class="img-fluid" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="isi">
      <div class="container">
        <div class="row" id="isi">
          <p>Sumber : newssetup.kontan.co.id | Editor : Ilham Ahmad Kamil</p>
          <p>
            CEO Tesla dan SpaceX Elon Musk pada Minggu (24/10) mengungkapkan alasan sebenarnya
            mendukung Dogecoin. Dia bilang, banyak orang yang bekerja di kedua perusahaannya
            memiliki kripto berbasis meme itu.
          </p>
          <p>
            Pernyataan Musk ini menanggapi tweet dari pemegang Dogecoin Glauber Contessoto yang
            mengatakan, daya tarik DOGE itu nyata, merujuk pada survei yang menemukan sekitar
            sepertiga dari pemegang kripto di AS memiliki cryptocurrency tersebut.
          </p>
          <p>
            "Banyak orang yang saya ajak bicara di jalur produksi di Tesla atau membuat roket di
            SpaceX memiliki Dogecoin. Mereka bukan ahli keuangan atau teknologi Silicon Valley. Itu
            sebabnya, saya memutuskan untuk mendukung Dogecoin," kata Musk, seperti dikutip
            Bitcoin.com.
          </p>
          <p>
            Komunitas Dogecoin menyambut positif komentar dan dukungan Musk itu. “Sebagian besar
            dari kita tidak berasal dari latar belakang istimewa dan sejujurnya tidak bisa
            berhubungan dengan para ahli di Silicon Valley,” ujar Contessoto.
          </p>
          <p>
            “Kami hanya ingin percaya pada kripto yang mewakili kita semua. Dogecoin adalah pria
            kecil yang dipersonifikasikan dalam kripto, itulah sebabnya kami menyukainya. Kami
            menghargai dukungan Anda, Elon Musk,” imbuh Contessoto.
          </p>
          <p>
            Sebuah survei oleh portal perbandingan harga Finder menunjukkan, lebih banyak orang di
            AS yang memiliki Dogecoin ketimbang di negara lain mana pun. Dogecoin memiliki adopsi
            tertinggi di Amerika Serikat dengan 30,6% pemilik kripto mengatakan mereka punya DOGE.
            Ini setara 1,6 kali tingkat adopsi rata-rata global 19,2%.
          </p>
          <p>
            Mengacu data Bitcoin.com, harga Dogecoin pada Selasa (26/10) ada di US$ 0,2676 atau naik
            1,28% dibanding posisi 24 jam sebelumnya. DOGE melonjak 9,7% dibandingkan dengan posisi
            seminggu sebelumnya.
          </p>
          <p>
            Elon Musk sebelumnya mengatakan, dia secara pribadi memiliki tiga kripto: Bitcoin,
            Ethereum, dan Dogecoin.
          </p>
        </div>
      </div>
    </section>

    <!-- Section 4 -->
    <div class="row rekomendasi">
      <div class="col mb-3">
        <h1>REKOMENDASI</h1>
      </div>
    </div>
    <div class="row section4">
      <div class="col-md-4">
        <img src="/static/images/Kripto.png" alt="section4" class="img-fluid" />
        <a href="/blog/berita1/">Apa itu Cryptocurrency?</a>
      </div>
      <div class="col-md-4">
        <img src="/static/images/berita2.png" alt="section4" class="img-fluid" />
        <a href="/blog/berita2/">Apa itu Bitcoin?</a>
      </div>
      <div class="col-md-4">
        <img src="/static/images/berita3.jpg" alt="section4" class="img-fluid" />
        <a href="/blog/berita3/">Apa itu Ethereum?</a>
      </div>
    </div>

    <!--Footer-->
    <footer style="margin-top: 2rem">
      <div class="container">
        <div class="row row-cols-auto justify-content-start">
          <div class="col">
            <img src="/static/images/Logo Slogan.png" alt="Logo Elevate" id="logo-bawah" />
          </div>
          <div class="col">
            <div class="garis"></div>
          </div>
          <div class="col">
            <ul class="list-unstyled footer-nav">
              <li><a href="/tentangkami/">Tentang Kami</a></li>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/dashboard/">Dashboard</a></li>
            </ul>
          </div>
          <div class="col">
            <div class="garis"></div>
          </div>
          <div class="col">
            <ul class="list-unstyled attrib">
              <li>
                <p>
                  Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
                  <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
                </p>
              </li>
              <li><p>© 2021 Elevate. All rights reserved</p></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!--End Footer-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
